* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

/*header section is start here*/
.header {
    background-image: url("img/donation13.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-bg {
    background-color: rgba(0, 0, 0, 0.404);
}

.header-content {
    width: 85%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 100vh;
}

.header-content-wraper h1 {
    font-size: 55px;
    color: white;
    margin-bottom: 2%;
}

.header-content-wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content-wraper p {
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 5%;
}

.header-content-wraper a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    background: tomato;
    padding: 10px 18px;
    border-radius: 5px;
}

/*header section is end here*/

/*donate section is start here*/
section.donate {
    padding: 5% 0%;
}

.donate-container {
    width: 85%;
    margin: auto;
    text-align: center;
}

.donate-taile h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.donate-taile p {
    width: 54%;
    margin: auto;
    font-size: 20px;
    line-height: 1.5;
    color: #6c6b6b
}

.donate-amount {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

.amount-100 {
    width: 18%;
    background: white;
    box-shadow: 1px 1px 6px #a1a1a1;
    margin-right: 1.2%;
    padding: 5% 0%;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.amount-200 {
    width: 18%;
    background: white;
    box-shadow: 1px 1px 6px #a1a1a1;
    margin-right: 1.2%;
    margin-left: 1%;
    padding: 5% 0%;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid tomato;
    color: tomato;
}

.amount-500 {
    width: 18%;
    background: white;
    box-shadow: 1px 1px 6px #a1a1a1;
    margin-right: 1.2%;
    margin-left: 1%;
    padding: 5% 0%;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.amount-1k {
    width: 18%;
    background: white;
    box-shadow: 1px 1px 6px #a1a1a1;
    margin-right: 1.2%;
    margin-left: 1%;
    padding: 5% 0%;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.amount-5k {
    width: 18%;
    background: white;
    box-shadow: 1px 1px 6px #a1a1a1;
    margin-right: 1%;
    margin-left: 1.2%;
    padding: 5% 0%;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    width: 70%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
}

.donat-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
    background: tomato;
    padding: 10px 18px;
    border-radius: 5px;
    text-transform: capitalize;
}

/*donate section is end here*/

/*donate-plan section is start here*/
section.donate-plan {
    width: 85%;
    margin: auto;
    padding-bottom: 5%;
}

.donate-plan-taitle {
    text-align: center;
}

.donate-plan-taitle h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.donate-plan-taitle p {
    width: 50%;
    font-size: 20px;
    color: #4a4848;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 20px;
}

.d-about-plan {
    display: flex;
    padding-top: 5%;
}

.donate-plan-1 {
    width: 31.3%;
    background: #ececec;
    margin-right: 2%;
}

.donate-plan-2 {
    width: 31.3%;
    background: #f3f2cc;
}

.donate-plan-3 {
    width: 31.3%;
    background: #ececec;
    margin-left: 2%;
}

.donate-plan-wraper {
    margin: 30px;
}

.donate-plan-wraper h1 {
    font-size: 28px;
    margin: 25px 0px;
}

.donate-plan-wraper p {
    width: 92%;
    font-size: 20px;
    line-height: 1.6;
    color: #7c7c7c;
}

/*donate-plan section is end here*/


/*section updated is start here*/
.updated {
    width: 85%;
    margin: auto;
}

.updated-content {
    text-align: center;
}

.updated-content h1 {
    font-size: 45px;
    padding-bottom: 2%;
}

.updated-content p {
    width: 47%;
    font-size: 20px;
    color: #424141;
    line-height: 1.5;
    margin: auto;
}

.updated-form {
    width: 50%;
    padding: 8% 10%;
    background: #f9f9f9;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #afafaf;
}

input.email {
    border: none;
    background: #e5e1e1;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    width: 90%;
    position: relative;
}

input.subscribe {
    border: none;
    padding: 15px;
    font-size: 20px;
    position: absolute;
    margin-left: -17%;
    background: tomato;
    width: 15.1%;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    color: white;
}


/*section updated is end here*/


/*footer section is start here*/
section.footer {
    width: 100%;
    background: #121010;
    padding: 5% 0%;
    margin-top: 5%;
}

.footer-content {
    width: 85%;
    margin: auto;
    text-align: center;
    color: white;
}

.footer-content h1 {
    font-size: 50px;
    padding-bottom: 1%;
    font-family: 'Lobster', 'cursive';
    letter-spacing: 3px;
    color: tomato;
}

.footer-content p {
    font-size: 22px;
    color: #a9a8a8;
}

/*footer section is end here*/